#btn-mas{
    display: none;
}

.flotantes{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    overflow: hidden;
}

.icon__social a, .fa-plus{
    display: block;
    background:  rgb(228, 243, 12);
    color: black;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}


.icon__social a:hover{
    background: black;
    color:  rgb(228, 243, 12);
}

.icon__social a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
.fab{
    font-size: 15px;
}


#btn-mas:checked~ .icon__social a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.fa-plus {
    cursor: pointer;
    background: rgb(228, 243, 12);
    color: black;
    font-size: 23px;
}

#btn-mas:checked~ .btn-mas .fa-plus{
    transform: rotate(137deg);
    font-size: 25px;
}

.btn-mas .fas {
    line-height: 55px;
}