*{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    
    
    
}

a {
    text-decoration: none;

}

ul{
 list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color:white;
    background: black;
    
    
    
}

.menu{
    justify-content: space-between;
    display: flex;
     height: 54px;
    text-align: center;
    
    background: black;
    
    
    
}

.menu a{
    color:white;
}

.nav-bar{
    display: flex;
    margin-top: 7px;
    margin-right: 34%;
    
}

.items-bar a{
    font-size: 22px;
    margin-right: 33px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .5s;
    
   
}


.logo a{
    font-size: 40px;
    color:white;
    padding-left: 53px;
    font-family: 'Rampart One', cursive;
}

.logo {
    margin-top: -7px;
}

.items-bar{
    margin-top: 6px;
    margin-right: 29px;
    
   
}




.nav_label, .nav-input{
    display: none;
}

.items-bar a::after{
    content: "";
    display: block;
    background:white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.items-bar a:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

 .menu::before{

    content: "TODAS LAS BURGERS VIENEN CON PAPAS O AGREGANDO $150, AROS DE CEBOLLA";
    background: #ff4e00;
    position: absolute;
    padding: 10px;
    width: 60px;
    top: 53px;
    left: 10px;
    transform: rotate(
0deg);
    color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
} 

@media (max-width: 1100px){
    .nav-bar{
        margin-right: 32%;
    }
}

@media (max-width: 1080px){
    .nav-bar{
        margin-right: 30%;
    }
}

@media (max-width: 1060px){
    .nav-bar{
        margin-right: 28%;
    }
}

@media (max-width: 1040px){
    .nav-bar{
        margin-right: 26%;
    }
}

@media (max-width: 1020px){
    .nav-bar{
        margin-right: 24%;
    }
}

@media (max-width: 1010px){
    .nav-bar{
        margin-right: 22%;
    }
}

@media (max-width: 1000px){
    .nav-bar{
        margin-right: 20%;
    }
}

@media (max-width: 980px){
    .nav-bar{
        margin-right: 18%;
    }
}

@media (max-width: 960px){
    .nav-bar{
        margin-right: 16%;
    }
}

@media (max-width: 940px){
    .nav-bar{
        margin-right: 14%;
    }
}

@media (max-width: 920px){
    .nav-bar{
        margin-right: 12%;
    }
}

@media (max-width: 900px){
    .nav-bar{
        margin-right: 10%;
    }
}




@media (max-width: 840px){
    .nav_label{
        display: block;
        cursor: pointer;
        margin-right: 19px;
        
    }

    .nav-bar{
        position: fixed;
        top: 41px;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background-color:black;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;


    }
    .items-bar a{
        color: white;
    }

    .items-bar a::after{
        background: white;
    }
    .nav-input:checked + .nav-bar{
        clip-path: circle(100% at center);
    }
    
}
